$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

html,body,.container-fluid,.main-row {
	height:100%;
	font-family: 'Open Sans';
}

.navigation-col {
	background-color: #457;
	color: #f0f0f0;
	height: 100%;
	
	.brand {
		margin-top: 20px;
		margin-bottom: 20px;
		font-weight: 100;
		font-size: 34px;
		font-variant: small-caps;
	}
		 
	hr {
    border: 0; border-top: 1px solid #999;
	}
}

.navigation {
	list-style-type: none;
	padding: 0px;
	
	li {
		padding: 15px;
		font-weight: 100;
		font-size: 18px;
		
		a {
			color: #fff;
		}
		.glyphicon {
			margin-right: 20px;
		}
	} 
}

.content {
	padding: 30px;
}

